html {
  background-color: #171717;
  overflow-y: auto;
}

input:-webkit-autofill {
  transition: background-color 10000s, color 10000s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
